/* ============COLORES==========*/

$azul: #243763;
$naranja: #FF6E31;
$beige: #FFEBB7;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: $naranja;
}

ul, ol{ 
    list-style-type: none;
}



body{
    background-color: $azul;
}

/* ---------- HEADER -------------- */


header {
    padding: 15px; 
    padding-right: 50px;
    padding-left: 50px; 
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: $beige;
    margin: 0;
    margin-bottom: 8vh;
    color: $naranja;
    font-size: 1.5em;
}

@media (min-width: 768px){
    header{
        margin-left: 8vh;
        margin-right: 8vh;
        border-radius: 20px;
        font-size: 1.7em;
    }       
}

@media (min-width: 1200px){
    header{
        margin-left: 15vh;
        margin-right: 15vh;
        font-size: 2em;
    }       
}


.atajos-list{
    display: flex;
    gap: 20px;
}

.logo-savra{
    height: 70px;
    width: 80px;
}

// ======== btns ==========

.btn-compras{
    background-color: $azul;
    padding: 0.5em 1em;
    font-size: 1.2rem;
    border: 2px solid $naranja;
    border-radius: 20px;
    color: $naranja;


    &:hover{
        background-color: $naranja;
        color: $azul;
        border:2px solid $azul;
        transform: scale(1.1);
    }
}


/* ============================== FOOTER =============== */

footer{
    margin-top: 6vh;
    font-size: 0.7em;
    background-color: $beige;
    color: $naranja;
    
}

@media (min-width: 768px){
    footer{
        margin-left: 8vh;
        margin-right: 8vh;
        margin-top: 8vh;
        font-size: .8em;
        border-radius: 20px;
    }       
}


@media (min-width: 1200px){
    footer{
        margin-left: 15vh;
        margin-right: 15vh;
        font-size: 1em;
    }       
}

.section-footer{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-weight: 900;
    margin: 0;
    color: $naranja;
    padding-top: 15px;
}

.footer-savra-home-deco{
    border: 1px solid $naranja;
    gap: 20px;
    padding: 15px;
}

.logos-footer{
    justify-content: baseline;
    width: 25px;
    height: 20px;
}

