
.portada-index{
    color: $verde;
    font-size: 25px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    text-align: center;
    
}

.header-index{
    display: flex;
    justify-content: space-around;
}

.nosotros-portada-index{
    background-color: $gris;
    grid-column: 2;
    height: 70vh;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}


@media (min-width: 768px){
    .nosotros-portada-index{
        padding: 5vh;
    }
}
@media (min-width: 800px){
    .p-index{
        padding-top: 20px;
    }
}

@media (min-width: 1200px){
    .nosotros-portada-index{
        font-size: 1.2em;
    }
    .h2-idex{
        font-size: 1.2em;
    }
}