.contenedor-productos{
    display: grid;
    justify-content: center;
    color: $verde;
    margin-left: 12vh;
    margin-right: 12vh;
    gap: 50px;
}

.tarjetas-productos-tejidos{
    display: grid;
    grid-template-columns: 200px 200px ;
    justify-items: center;
    text-align: center;
    background-color: $gris;
    gap: 5px;
    padding: 5px;
}

.titulo-tejido{
    grid-column: span 2;
}

.img-tejidos{
    grid-column: span 2;
    grid-row: 2;
    height: 35vh;
    width: 35vh;
}

.p-tejido{
    grid-column: span 2;
    grid-row: 3;
    padding-left: 10px;
    padding-right: 10px;
}


.btn-tejido{
    grid-column: span 2;
    grid-row: 5;
}



@media (min-width: 768px){
    .tarjetas-productos-tejidos{
        grid-template-columns: 300px 300px;
        font-size: 1.2em;
    }

    .titulo-tejido{
        grid-column: span 2;
    }
    
    .img-tejidos{
        grid-column:1;
        grid-row: 2;
    }
    
    .p-tejido{
        grid-column: 2;
        grid-row: 2;
        text-align: left;
        align-self: center;        
    }
    
    .btn-tejido{
        grid-column: span 2;
        grid-row: 3;
    }
    
}

@media (min-width: 1200px){
    .tarjetas-productos-tejidos{
        grid-template-columns: 350px 350px;
        font-size: 1.4em;
    }
    .img-tejidos{
        height: 40vh;
        width: 40vh;
    }
}